body
{
  text-align: center;
  font-family: Bahnschrift, Helvetica, sans-serif;
  font-weight: bold;
}

h1 
{
  position: absolute;
  font-size: 7vw;
  height: 15vw;
  line-height: 15vw;
  color: rgb(239,236,0);
  border-radius: 50vw;
  background-color: red;
  top: 5vw;
  width: 50vw;
  left: 25vw;
  border: 0.75vw solid rgb(0, 0, 0);
  text-shadow: 0 0 0.35vw rgb(0, 0, 0), 0 0 0.35vw rgb(0, 0, 0),   0 0 0.35vw rgb(0, 0, 0), 0 0 0.35vw rgb(0, 0, 0), 0 0 0.35vw   rgb(0, 0, 0), 0 0 0.35vw rgb(0, 0, 0), 0 0 0.35vw rgb(0, 0, 0),   0 0 0.35vw rgb(0, 0, 0);
}

.gameButtons 
{
  position: absolute;
  width: 35vw;
  color: rgb(239,236,0);
  border-radius: 50vw;
  background-color: red;
  top: 50vw;
  border: .75vw solid rgb(0, 0, 0);
  text-shadow: 0 0 0.35vw rgb(0, 0, 0), 0 0 0.35vw rgb(0, 0, 0),   0 0 0.35vw rgb(0, 0, 0), 0 0 0.35vw rgb(0, 0, 0), 0 0 0.35vw   rgb(0, 0, 0), 0 0 0.35vw rgb(0, 0, 0), 0 0 0.35vw rgb(0, 0, 0),   0 0 0.35vw rgb(0, 0, 0);
}

b1 
{
  font-size: 3vw;
  height: 9vw;
  line-height: 5vw;
  left: 10vw;
}

b2 
{
  font-size: 4vw;
  height: 9vw;
  line-height: 9vw;
  left: 54vw;
}

.CoordinationGUI 
{
  position: absolute;
  font-size: 3vw;
  height: 5vw;
  line-height: 5vw;
  border-radius: 50vw;
  border: 0.75vw solid rgb(0, 0, 0);
  text-shadow: 0 0 0.35vw rgb(0, 0, 0), 0 0 0.35vw rgb(0, 0, 0),   0 0 0.35vw rgb(0, 0, 0), 0 0 0.35vw rgb(0, 0, 0), 0 0 0.35vw   rgb(0, 0, 0), 0 0 0.35vw rgb(0, 0, 0), 0 0 0.35vw rgb(0, 0, 0),   0 0 0.35vw rgb(0, 0, 0);
  color: rgb(193,24,255);
  background-color: rgb(255,62,62);
}

c1 
{
  top: 1vw;
  left: 1vw;
  width: 15vw;
}

c2 
{
  top: 8vw;
  left: 1vw;
  width: 20vw;
}

c3 
{
  top: 15vw;
  left: 1vw;
  width: 30vw;
}

c4 
{
  top: 1vw;
  width: 35vw;
  left: 32.5vw;
}

c5 
{
  position: absolute;
  font-size: 10vw;
  text-shadow: 0 0 0.40vw rgb(0, 0, 0), 0 0 0.40vw rgb(0, 0, 0),   0 0 0.40vw rgb(0, 0, 0), 0 0 0.40vw rgb(0, 0, 0), 0 0 0.40vw   rgb(0, 0, 0), 0 0 0.40vw rgb(0, 0, 0), 0 0 0.40vw rgb(0, 0, 0),   0 0 0.40vw rgb(0, 0, 0);
  color: rgb(255,0,0);
  top: 30vw;
  width: 60vw;
  left: 20vw;
}

c6 
{
  position: absolute;
  font-size: 3vw;
  text-shadow: 0 0 0.35vw rgb(255,255,255), 0 0 0.35vw rgb(255,255,255),   0 0 0.35vw rgb(255,255,255), 0 0 0.35vw rgb(255,255,255), 0 0 0.35vw   rgb(255,255,255), 0 0 0.35vw rgb(255,255,255), 0 0 0.35vw rgb(255,255,255),   0 0 0.35vw rgb(255,255,255);
  color: rgb(0,0,0);
  top: 45vw;
  width: 60vw;
  left: 20vw;
}

c7
{
  position: absolute;
  font-size: 3vw;
  text-shadow: 0 0 0.35vw rgb(255,255,255), 0 0 0.35vw rgb(255,255,255),   0 0 0.35vw rgb(255,255,255), 0 0 0.35vw rgb(255,255,255), 0 0 0.35vw   rgb(255,255,255), 0 0 0.35vw rgb(255,255,255), 0 0 0.35vw rgb(255,255,255),   0 0 0.35vw rgb(255,255,255);
  color: rgb(0,0,0);
  top: 75vw;
  width: 60vw;
  left: 20vw;
}

.ReactionGUI 
{
  position: absolute;
  font-size: 5vw;
  height: 6vw;
  line-height: 6vw;
  border-radius: 50vw;
  border: 0.75vw solid rgb(0, 0, 0);
  text-shadow: 0 0 0.35vw rgb(0, 0, 0), 0 0 0.35vw rgb(0, 0, 0),   0 0 0.35vw rgb(0, 0, 0), 0 0 0.35vw rgb(0, 0, 0), 0 0 0.35vw   rgb(0, 0, 0), 0 0 0.35vw rgb(0, 0, 0), 0 0 0.35vw rgb(0, 0, 0),   0 0 0.35vw rgb(0, 0, 0);
  color: rgb(255,255,255);
  background-color: rgb(0,177,255);
}

r1 
{
  top: 12vw;
  width: 65vw;
  left: 17.vw;
}

r3 
{
  top: 2vw;
  width: 45vw;
  left: 27.5vw;
}

r4 
{
  top: 22vw;
  width: 85vw;
  left: 7.5vw;
}

r2
{
  position: absolute;
  font-size: 5vw;
  text-shadow: 0 0 0.35vw rgb(232,0,255), 0 0 0.35vw rgb(232,0,255),   0 0 0.35vw rgb(232,0,255), 0 0 0.35vw rgb(232,0,255), 0 0 0.35vw   rgb(232,0,255), 0 0 0.35vw rgb(232,0,255), 0 0 0.35vw rgb(232,0,255),   0 0 0.35vw rgb(232,0,255);
  color: rgb(255,229,0);
  top: 80vw;
  width: 100vw;
  left: 0vw;
}